.badge-item-margin-top {
    margin-top: 5px;
    width: 60%;

}

.badge-title {
    margin-left: 5px;
}

.company-start {
    height: 7em;
}

.company-image {
    width: 90%;
}

.company-name {
    width: 88%;
}

.margin-company-title {
    margin-left: 0.3em;
}
