.text-gray {
  color: #aaa;
}

.container.py-5 {
}

.js-example-basic-multiple {
  width: 100%;
}

.link-navbar {
  color: #f7ffff !important;
}

.my-button-class {
  width: 100%;
}

.job-desc {
  margin-left: 1.5em;
  width: 100%;
}

.m-company {
  margin-bottom: 0px;
}

.location-style {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.logo-size {
  width: 100px;
  height: 100px;
}

.job-desc-img {
  width: 100%;
}

.badges-class {
  margin-bottom: 0.5em;
}

#flexCheckDefault{
  margin-left: 10px;
}
