.fav-job-offers-icons-left{
    margin-left: 1em;
}

.fav-job-offers-icons-right{
    margin-right: 0.2em;
}

.title-box{
    background-color: red;
}

.fav-job-options-icon{
    margin-left: 0.4em;
}

.posted-job-badges{
    margin-left: 0.1em;
}