.nav-icon {
  height: 100%;
}

#nav-logo {
  font-size: 24px;
  color: rgb(125,125,125);
}

.float-right-profile{
  text-align: right;
}

.first-navigation{
  height: 10vh;
}

body{
  background-color: rgb(246, 246, 246);
}

#dropdown-basic::after{
  display: none;
}