.clean-pricing-item {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,.075);
    border-top: 2px solid #5ea4f3;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.clean-pricing-item .heading {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.clean-pricing-item p {
    text-align: center;
    margin-top: 20px;
    opacity: .7;
}

.clean-pricing-item .features .feature {
    font-weight: 600;
}

.clean-pricing-item .price h4, .clean-pricing-item .price .h4 {
    margin: 15px 0;
    font-size: 45px;
    text-align: center;
    color: #2288f9;
}

.clean-block.dark {
    background-color: #f6f6f6;
}

.clean-pricing-item .ribbon {
    width: 160px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgba(136,136,136,.25);
    background: #4dbe3b;
    transform: rotate(45deg);
    position: absolute;
    right: -42px;
    top: 20px;
    padding-top: 7px;
}

