.second-navbar-nav > li{
  padding-left:15px;
}

.show>.dropdown-menu {
  display: block;
}

.second-navigation{
  height: 10vh;
}

.icon-links-margin{
  margin-right: 5px;
}

.edit-button{
  margin-left: 10px;
}

.profile-delete-experience-item-button{
  transform: translate(0, -150%);
}

.profile-changes-buttons-margin{
  margin-left: 0.7em;
}